/* your beautiful css styling goes here! */
body{
  font-family: Courier;
  color: #3F7FBF;
}

h3{
  color: #2D4C6B;
}
/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */

